<div class="hero-2 overlay" style="background-image: url('/images/img_3.jpg')">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-5 text-center">
          <span>Dịch vụ</span>
          <br />
          <span>chụp ảnh cưới </span>
        </h1>

        <div class="intro-desc text-left">
          <div class="line"></div>
          <p>
            Delectus voluptatum distinctio quos eius excepturi sunt pariatur,
            aut, doloribus officia ea molestias beatae laudantium, quam odio
            ipsum veritatis est maiores velit quasi blanditiis et natus
            accusamus itaque.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section sec-3">
  <div class="container">
    <div class="row mb-5 justify-content-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <img src="/images/wedding1.jpeg" alt="Image" class="img-fluid" />
      </div>
      <div class="col-lg-5">
        <div class="heading">Giới thiệu</div>
        <p>
          Delectus voluptatum distinctio quos eius excepturi sunt pariatur, aut,
          doloribus officia ea molestias beatae laudantium, quam odio ipsum
          veritatis est maiores velit quasi blanditiis et natus accusamus
          itaque.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
          placeat, unde sequi quas ipsum illo? Commodi accusantium, sit eveniet?
          Maiores tempora corporis ea nostrum magnam similique optio autem,
          dolor incidunt?
        </p>
        <p>
          Recusandae quam dicta repellat consequatur, facilis magnam minus unde,
          asperiores voluptatibus temporibus obcaecati, nihil libero. Maxime
          consectetur asperiores excepturi quidem deleniti, autem incidunt?
          Error nisi, eius fugiat expedita quia cupiditate!
        </p>
        <p><a href="/customer/create" class="btn btn-primary">Book Ngay</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 border-left">
        <span class="text-black-50 d-block">Thời gian:</span> XX
      </div>
      <div class="col-sm-3 border-left">
        <span class="text-black-50 d-block">Số lượng ảnh:</span> XX
      </div>
      <div class="col-sm-3 border-left">
        <span class="text-black-50 d-block">Địa điểm</span> XX
      </div>
      <div class="col-sm-3 border-left">
        <span class="text-black-50 d-block">Chi phí</span> XX
      </div>
    </div>
  </div>
</div>

<div class="section sec-4">
  <div class="container">
    <div class="row mb-5 justify-content-between">
      <div class="col-lg-12 mb-lg-0 mb-4">
        <!-- Gallery -->
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="/images/wedding2.jpeg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />

            <img
              src="/images/wedding3.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="/images/wedding6.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Mountains in the Clouds"
            />

            <img
              src="/images/wedding4.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="/images/wedding5.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Waves at Sea"
            />

            <img
              src="/images/wedding7.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Yosemite National Park"
            />
          </div>
        </div>
        <!-- Gallery -->
      </div>
    </div>
  </div>
</div>
