<div class="container my-5 col-6">
  <h1>Chỉnh sửả booking của bạn</h1>
  <div class="shadow-5-strong rounded-5 overflow-hidden">
    <div class="m-3">
      <div>
        <select
          class="form-select"
          aria-label="Default select example"
          disabled
        >
          <option selected>Lựa chọn dịch vụ bạn mong muốn</option>
          <option value="1">Chụp ảnh chân dung</option>
          <option value="2">Chụp ảnh phóng sự cưới</option>
          <option value="3">Chụp ảnh kiến trúc</option>
          <option value="3">Chụp ảnh kiến phong cảnh</option>
        </select>
        <div class="input-group my-3">
          <span class="input-group-text border-0"
            ><i class="fas fa-map-marker-alt"></i
          ></span>
          <input
            type="text"
            class="form-control rounded"
            placeholder="Nhập địa chỉ"
          />
        </div>
        <div class="row">
          <div class="input-group my-3 col">
            <label for="" class="mx-3">Bat dau</label>
            <input type="datetime-local" class="form-control rounded" />
          </div>
          <div class="input-group my-3 col">
            <label for="" class="mx-3">Ket thuc</label>
            <input type="datetime-local" class="form-control rounded" />
          </div>
        </div>
        <div>
          <div class="form-outline" data-mdb-input-init>
            <textarea
              class="form-control"
              id="textAreaExample"
              rows="4"
            ></textarea>
            <label class="form-label" for="textAreaExample"
              >Ghi chu cho studio</label
            >
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center my-3">
          <a href="" class="btn btn-primary btn-lg mx-3">Lưu thay đổi</a>
          <a href="" class="btn btn-danger btn-lg mx-3">Hủy lịch chụp</a>
        </div>
      </div>
    </div>
  </div>
</div>
