<div class="container my-5">
  <h1>Quản lý photographer</h1>
  <table class="table align-middle mb-0 bg-white table-hover">
    <tr>
      <td><h6>ID Photographer</h6></td>
      <td class="text-right">
        <button class="btn btn-outline-primary btn-lg">XXXX</button>
      </td>
    </tr>
  </table>

  <div class="shadow-5-strong rounded-5 overflow-hidden col-12">
    <table class="table align-middle mb-0 bg-white table-hover">
      <thead class="bg-light">
        <tr>
          <th>ID Booking</th>
          <th>Khách hàng</th>
          <th>Photographer</th>
          <th>Thời gian & Địa điểm</th>
          <th>Review</th>
          <th>Rating</th>
          <th>Chi tiết</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <div class="d-flex align-items-center">
              <div class="">
                <p class="fw-bold mb-1">John Doe</p>
                <p class="text-muted mb-0">john.doe@gmail.com</p>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="">
                <p class="fw-bold mb-1">John Doe</p>
                <p class="text-muted mb-0">john.doe@gmail.com</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-bold mb-1">Software engineer</p>
            <p class="text-muted mb-0">IT department</p>
          </td>
          <td>
            <div class="text-center">
              <p class="fw-bold">OK</p>
            </div>
          </td>
          <td>
            <div class="text-center">
              <p class="fw-bold">9.0 / 10</p>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              Detail
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
