<form class="bg-white rounded shadow-5-strong p-5">
  <h1 class="text-center my-5">Quên mật khẩu</h1>
  <!-- Email input -->
  <p class="text-center">
    Nhập địa chỉ email của bạn và nhận dường link khôi phục mật khẩu mới
  </p>
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" name="email" />
    <label class="form-label" for="form2Example1">Email</label>
  </div>

  <!-- Submit button -->
  <button
    data-mdb-ripple-init
    type="button"
    class="btn btn-primary btn-block mb-4"
  >
    Gửi đến email của tôi
  </button>

  <!-- Register buttons -->
  <div class="text-center">
    <p><a href="#!">Quay về trang đăng nhập</a></p>
    <p>Hoặc đăng nhập bằng</p>
    <button
      data-mdb-ripple-init
      type="button"
      class="btn btn-secondary btn-floating mx-1"
    >
      <i class="fab fa-facebook-f"></i>
    </button>

    <button
      data-mdb-ripple-init
      type="button"
      class="btn btn-secondary btn-floating mx-1"
    >
      <i class="fab fa-google"></i>
    </button>
  </div>
</form>
