<form class="bg-white rounded shadow-5-strong p-5">
  <h1 class="text-center my-5">Khôi phục mật khẩu</h1>
  <!-- Email input -->
  <p class="text-center">Khôi phục mật khẩu mới cho tài khoản của bạn</p>
  <div data-mdb-input-init class="form-outline mb-4">
    <input
      type="password"
      id="form2Example1"
      class="form-control"
      name="password"
    />
    <label class="form-label" for="form2Example1">Mật khẩu</label>
  </div>
  <div data-mdb-input-init class="form-outline mb-4">
    <input
      type="password"
      id="form2Example1"
      class="form-control"
      name="password2"
    />
    <label class="form-label" for="form2Example1">Nhập lại mật khẩu</label>
  </div>

  <!-- Submit button -->
  <button
    data-mdb-ripple-init
    type="button"
    class="btn btn-primary btn-block mb-4"
  >
    Xác nhận
  </button>

  <!-- Register buttons -->
  <div class="text-center">
    <p><a href="#!">Quay về trang đăng nhập</a></p>
    <p>Hoặc đăng nhập bằng</p>
    <button
      data-mdb-ripple-init
      type="button"
      class="btn btn-secondary btn-floating mx-1"
    >
      <i class="fab fa-facebook-f"></i>
    </button>

    <button
      data-mdb-ripple-init
      type="button"
      class="btn btn-secondary btn-floating mx-1"
    >
      <i class="fab fa-google"></i>
    </button>
  </div>
</form>
